{% extends "global/Page.html" %}
{% block content %}
<h2 class="center-text">Please Make Your Decision</h2>
<br>
<ul>
    <li> Please allocate your weight to five bins to make your prediction about the chance that the next period number would be in</li>
</ul>
<br>
<form method="post">
    <div style="display: flex; align-items: flex-end; height: 300px; border: 1px solid black; position: relative; padding-left: 50px;">
        <div style="margin: 0 20px; text-align: center; position: relative;">
            <div id="bar1" style="width: 100px; background-color: blue; position: absolute; bottom: 0; height: 0%;"></div>
            <div style="width: 100px; position: relative; top: 60px;"> <p class="small-font">smaller than -6</p></div>
            <div style="display: flex; align-items: center; justify-content: center; position: relative; top: 70px;">
                <input type="range" id="slider1" name="bar_1" min="0.01" max="99.96" step="0.01" value="0.01" oninput="updateBars()" style="width: 80px; background: blue;">
                <span id="input1Value">0.01</span>%
            </div>
        </div>
        <div style="margin: 0 20px; text-align: center; position: relative;">
            <div id="bar2" style="width: 100px; background-color: green; position: absolute; bottom: 0; height: 0%;"></div>
            <div style="width: 100px; position: relative; top: 60px;"> <p class="small-font">between -6 and -2</p></div>
            <div style="display: flex; align-items: center; justify-content: center; position: relative; top: 70px;">
                <input type="range" id="slider2" name="bar_2" min="0.01" max="99.96" step="0.01" value="0.01" oninput="updateBars()" style="width: 80px; background: green;">
                <span id="input2Value">0.01</span>%
            </div>
        </div>
        <div style="margin: 0 20px; text-align: center; position: relative;">
            <div id="bar3" style="width: 100px; background-color: purple; position: absolute; bottom: 0; height: 0%;"></div>
            <div style="width: 100px; position: relative; top: 60px;"> <p class="small-font">between -2 and 2</p> </div>
            <div style="display: flex; align-items: center; justify-content: center; position: relative; top: 70px;">
                <span id="input3Value">0.01</span>%
                <input type="hidden" id="hiddenBar3" name="bar_3" value="0.01">
            </div>
        </div>
        <div style="margin: 0 20px; text-align: center; position: relative;">
            <div id="bar4" style="width: 100px; background-color: orange; position: absolute; bottom: 0; height: 0%;"></div>
            <div style="width: 100px; position: relative; top: 60px;"> <p class="small-font">between 2 and 6</p></div>
            <div style="display: flex; align-items: center; justify-content: center; position: relative; top: 70px;">
                <input type="range" id="slider4" name="bar_4" min="0.01" max="99.96" step="0.01" value="0.01" oninput="updateBars()" style="width: 80px; background: orange;">
                <span id="input4Value">0.01</span>%
            </div>
        </div>
        <div style="margin: 0 20px; text-align: center; position: relative;">
            <div id="bar5" style="width: 100px; background-color: red; position: absolute; bottom: 0; height: 0%;"></div>
            <div style="width: 100px; position: relative; top: 60px;"> <p class="small-font">greater than 6</p></div>
            <div style="display: flex; align-items: center; justify-content: center; position: relative; top: 70px;">
                <input type="range" id="slider5" name="bar_5" min="0.01" max="99.96" step="0.01" value="0.01" oninput="updateBars()" style="width: 80px; background: red;">
                <span id="input5Value">0.01</span>%
            </div>
        </div>
    </div>

    <style>
        .small-font {
            font-size: 11px;
        }
        .submit-button {
            text-align: center;
            background-color: #007BFF;
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            outline: none;
            float: right;
            border-radius: 10px;
        }
        .submit-button:disabled {
            background-color: #d3d3d3;
            cursor: not-allowed;
        }
        .center-text {
            text-align: center;
        }
        input[type="range"] {
            -webkit-appearance: none;
            width: 80px;
            height: 6px;
            border-radius: 5px;
            background: grey;
            outline: none;
            opacity: 0.7;
            -webkit-transition: .2s;
            transition: opacity .2s;
        }
        input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background: currentColor;
            cursor: pointer;
        }
        input[type="range"]::-moz-range-thumb {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background: currentColor;
            cursor: pointer;
        }
    </style>

    <script>
    function updateBars() {
        let bar1 = parseFloat(document.getElementById('slider1').value) || 0;
        let bar2 = parseFloat(document.getElementById('slider2').value) || 0;
        let bar5 = parseFloat(document.getElementById('slider5').value) || 0;
        let bar4 = parseFloat(document.getElementById('slider4').value) || 0;
        let bar3 = 100 - (bar1 + bar2 + bar5 + bar4);

        document.getElementById('input1Value').innerText = bar1.toFixed(2);
        document.getElementById('input2Value').innerText = bar2.toFixed(2);
        document.getElementById('input5Value').innerText = bar5.toFixed(2);
        document.getElementById('input4Value').innerText = bar4.toFixed(2);
        document.getElementById('input3Value').innerText = bar3.toFixed(2);

        document.getElementById('bar1').style.height = 3 * bar1 + 'px';
        document.getElementById('bar2').style.height = 3 * bar2 + 'px';
        document.getElementById('bar5').style.height = 3 * bar5 + 'px';
        document.getElementById('bar4').style.height = 3 * bar4 + 'px';
        document.getElementById('bar3').style.height = bar3 >= 0.01 ? 3 * bar3 + 'px' : '0px';

        document.getElementById('hiddenBar3').value = bar3.toFixed(2);

        let isValid = bar1 >= 0.01 && bar2 >= 0.01 && bar5 >= 0.01 && bar4 >= 0.01 && bar3 >= 0.01;
        document.getElementById('nextButton').disabled = !isValid;
    }

    document.querySelectorAll('input[type="range"]').forEach((slider) => {
        slider.addEventListener('input', updateBars);
    });

    document.getElementById('nextButton').disabled = true;
    </script>

    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <button class="submit-button" id="nextButton" disabled type="submit">Next</button>
    </div>
</form>
{% endblock %}
