{% extends "global/Page.html" %}

{% block content %}
    <h1 class="center-text">Period {{ adjusted_round_number }} in round 2</h1>
<br>
<br>
<br>
    <p>The number generated in this round is: <strong style="font-size: 24px;">{{ normal_number_g1 }}</strong><p/>

<br>
<style>
    .submit-button {
         text-align: center;
         background-color: #007BFF;
         color: white;
         border: none;
         padding: 10px 20px;
         cursor: pointer;
         outline: none;
         float: right;
         border-radius: 10px;
    }

    .center-text {
         text-align: center;
    }
</style>


<div class="container">
    <button class="submit-button">Next</button>
</div>


{% endblock %}
